.viewlistprobeoptions {
    display: flex;
    flex: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-right: 2vw;
    margin-left: 2vw;
    text-decoration: none;
}

.probemain {
    margin-left: 10vw;
}

.probeoptions {
    display: flex;
    flex-wrap: nowrap;
    margin-right: 3vw;
    margin-left: 3vw;
}

.flex {
    display: flex;
}

.text {
    margin-right: 15vw;
    margin-left: 2vw;
    /* text-align: center;
    justify-content: center;
    align-content: center */
    margin-top: auto;
    margin-bottom: auto;
    width: 10vw
}

.box {
    /* display: flex; */
    margin-right: 30vw
}