/* import  withStyles  from '@material-ui/core/styles'; */
form {
    border: 2px solid #000;
    border-radius: 5px;
    /* border-right: 2px solid #000; */
    width: 680px;
    height: 500px;
    line-height: 1.4285em;
    color: rgba(0,0,0,.87);

    font-size: 16px;
    font-family: arial,helvetica,sans-serif;
}



.tablecell{
    background-color: #000; 
    /* color: #567; */
}
#tablecell{
    color: #fff
}

/* Table{
    border-left: 0px;
}  */

.textField{
    /* margin: 'normal'; */
    /* variant: outlined; */
    border: 2px solid #000;
    size: 10px;
}

.list {
    display: inline-block;
    margin-right: 40px;
    text-decoration: none;
}

Link {
    text-decoration: 'none';
}