.rootapp {
  margin-left: 10vw;
  margin-right: 10vw
}

.userwindow {
  display: flex;
  /* flex: 1fr 1fr; */
  /* position: absolute; */
  Top: 100px;
}

.useraccount ul {
  /* display: flex; */
  /* flex: 1fr 1fr; */
  list-style: none;
}

/* .button {
  
  position: fixed;
  margin-left: 100px;
  
} */


@media screen and (max-width: 1260px){
  .userwindow {
    overflow: auto;
    /* width: 900px */
  }
  /* .window {
    overflow: auto;
    min-width: 100vw
  } */
  .useraccount {
    display: none
  }
}

@media screen and (min-width: 1260px){
  .rootapp {
    margin-left: 2vw;
    margin-right: 2vw
  }
}