.admin-sidebar.bodyy{
    background-color: white;
    min-height: 100%;
    height: auto !important;
    min-width: 300px;
    overflow-x: hidden;
}

.admin-sidebar .avatar-section{
    height: 20vh;    
}

.admin-sidebar .centered{
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-sidebar .list-item{
    color: #373737 !important;
} 

.admin-sidebar .list-item :hover{
    background-color: #8080803d !important;
} 

.admin-sidebar .list-item-link{
    text-decoration: none !important;
} 

.admin-sidebar .list-subheader{
     font-weight: 400;
     font-size: 1em;
}

.adminlists {
    display: none
}

@media screen and (max-width: 1260px) {
    .adminlists {
      display: block;
    }
  }
