.configurationtable, th, td, Table{
    border: 1px inset #cccccc;
    /* border-collapse: collapse; */
    border-radius: 2px;
}
  
  /* .configurationtable th td{
    border: none;
}  */

.table{
  border-radius: 2px;
  /* overflow-x: "auto"; */
  /* width: 900 */
}

.tablecell{
  background-color:#337ab7;
  border-radius: 2px;
}

/* @media screen and (max-width: 1260px){
  .table {
    width: 100px
  }
} */