.menu {
    display: inline-block;
    margin-right: 40px;
}

/* menuButton {
    marginLeft: -12,
    marginRight: 20,
};

root: {
    flexGrow: 1,
  },
  grow: {
    flexGrow: 1,
  }, */

  .appbar{
      background-color: #337ab7;
  }