.usermenuwindow {
  display: flex;
  /* flex: 1fr 1fr; */
}

.another {
  display: flex;
  width: 60vw;
}

.button {
  position: fixed;
  right: 10px;
  bottom: 10px;
}

.switch {
  /* position: absolute; */
  top: 100px;
  left: 330px;
  width: 60vw
}
.main {
  width: 100vw;
}

@media screen and (max-width: 1351px) {
  .another {
    overflow: auto;
    min-width: 100px;
    width: 80vw;
  }
  .usermenuwindow {
    display: flex;
    flex-wrap: wrap;
  }
}
