.listbar {
  display: flex;
  justify-content: center;
  /* align-content: space-around; */
  /* margin-right: auto; */
  text-decoration: none;
  /* margin-left: 100px; */
}

.list2 {
    display: inline-block;
    margin-right: 40px;
    text-decoration: none;
    /* margin-left: 10px; */
  }

link {
  text-decoration: "none";
}

.drawer {
  display: none;
}

.list {
  align-content: space-between;
  margin-right: 2vw;
  margin-left: 2vw;
}

@media screen and (max-width: 1260px) {
  .listbar {
    display: none;
  }
  .drawer {
    display: block;
  }
}

.listhead {
  display: flex;
  justify-content: center;
  align-items: center;
}
