.lists {
    /* display: inline-block; */
    margin-right: 40px;
    text-decoration: none;
    list-style-type: none;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    /* margin-right: 10px; */
}

Link {
    text-decoration: 'none';
}