.flex {
    display: flex;
}

.text {
    margin-right: 15vw;
    margin-left: 2vw;
    /* text-align: center;
    justify-content: center;
    align-content: center */
    margin-top: auto;
    margin-bottom: auto;
    width: 10vw
}